# Test Report

![Uploading photos manual test result](./imageExamples/Uploading%20photos%20test.png)

![Gallery display manual test result](./imageExamples/Gallery%20display%20test.png)

![Adding photos to editing modal test result](./imageExamples/AddingPhotoToEditorTest.png)

![Photo filtering test result](./imageExamples/FilterTest.png)
